<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.ReviewMapper">
	<resultMap type="review" id="reviewlist">
		<result property="rev_num" column="rev_num"/>
		<result property="rev_title" column="rev_title"/>
		<result property="rev_cont" column="rev_cont"/>
		<result property="rev_hit" column="rev_hit"/>
		<result property="rev_regd" column="rev_regd"/>
		<result property="rev_sco" column="rev_sco"/>
		<result property="ord_num" column="ord_num"/>
		<result property="mem_num" column="mem_num"/>
		<result property="mem_nick" column="mem_nick"/>
		<collection property="reviewComment" ofType="reviewComment">
			<result property="rev_com_num" column="rev_com_num"/>
			<result property="rev_com_cont" column="rev_com_cont"/>
			<result property="rev_com_regd" column="rev_com_regd"/>
		</collection>
		<collection property="reviewImage" ofType="reviewImage">
			<result property="rev_img" column="rev_img"/>
		</collection>
	</resultMap>
	
	<insert id="insertReview" parameterType="review">
		insert into review
		values(0, #{rev_title}, #{rev_cont}, 0, sysdate, #{rev_sco}, #{ord_num})
	</insert>
	<insert id="insertImage" parameterType="reviewImage">
		insert into rev_image
		values(0, #{rev_img}, #{rev_num})
	</insert>
	<insert id="insertComment" parameterType="reviewComment">
		insert into rev_comm
		values(0, #{rev_com_cont}, sysdate, #{rev_num})
	</insert>
	<delete id="delete" parameterType="int">
		delete from review where rev_num=#{val}
	</delete>
	<select id="getCount" parameterType="int" resultType="int">
		select nvl(count(*), 0) from review r, rev_comm c where ord_num 
		in(select ord_num from orders where sto_num = #{val}) and r.rev_num = c.rev_num(+)
	</select>
	<select id="getList" parameterType="hashmap" resultMap="reviewlist">		
		select rrr.*, i.rev_img from 
		(select rr.*, rownum rnum from
		(select r.*, c.REV_COM_CONT, c.REV_COM_NUM, c.REV_COM_REGD, m.mem_num, m.mem_nick from review r, rev_comm c, 
		(select ord_num, mem_num from orders where sto_num = #{sto_num}) o, (select mem_num, mem_nick from members) m
		where o.ord_num = r.ord_num and m.mem_num = o.mem_num and r.rev_num = c.rev_num(+)) rr)rrr, rev_image i		
		<![CDATA[where rnum >= #{startRow} and rnum <= #{endRow} and rrr.rev_num = i.rev_num(+)]]>
	</select>
	<!-- 이미 등록된 여부가 있는지 확인 -->
	<select id="getOrder" parameterType="hashmap" resultType="orders">
		select * from orders where sto_num=#{sto_num} and mem_num=#{mem_num}
	</select>
	<select id="getMaxNum" resultType="int">
		select max(rev_num) from review
	</select>
</mapper>