@charset "UTF-8";

.chatOrder{
	position : fixed;
	top : 300px;
	left : 1600px;
	width : 285px;
	background : #dedede;
	z-index : 99999;
}
.orderheader{
	text-align : center;
	background : #adadad;
	height : 30px;
}
.orderclose{
	position : relative;
	top : -6px;
	right : 15px;
	float : right;
	font-size : 19px;
	font-height : bold;
}
.ordercontent{
	height : 400px;
}
.chatlist{
	margin : 5px;
	height : 350px;
	overflow-y : scroll;
}
.inputMsg{
	position : absolute;
	bottom : 10px;
}
.inputMsg>input{
	margin-left : 10px;
	width : 200px;
	height : 33px;
	border : 0px;
	border-radius : 5px;
}

.btn{
	border : 0px;
	height : 33px;
	margin : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
}