@charset "UTF-8";

.dropdown-login{
	position: absolute;
	top : 30px;
	left : 68.5%;
	z-index: 99999;
	background: white;
	list-style: none;
	border-radius: 3px;
	border :  3px solid #212529;
	display : none;
}

#login-dp{
	padding : 5px 5px 5px 5px;
}